<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Craft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lodepng.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tinycthread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B58A7636185EC09000655BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A764E185EC14600655BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A765B185EC16700655BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A766A185EC18D00655BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B58A7677185EC1A200655BD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
